.title_data {
    background-color: rgb(24, 65, 151);
    color: white;
    border: 1px solid black;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.title_data:hover {
    background-color: rgb(10, 48, 132);
    color: white;
    border: 1px solid black;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.background_data {
    border: 2px solid black;
}
.linePair_data {
    border: 1px solid lightgrey;
    background-color: rgb(249, 254, 255);
}
.lineUnpair_data {
    border: 1px solid lightgrey;
    background-color: rgb(212, 225, 230);
}

.text_contacts_data {
    color: rgb(0, 0, 0);
    display:block;
    text-align: right;
    border: 1px solid lightgrey;
    padding-right: 4px;
}

.text_data {
	color: rgb(0, 0, 0);
    display:block;
    text-align: right;
    border: 1px solid lightgrey;
    padding-right: 4px;
}

.delete_data {
	color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    background-color: lightgreen;
    border: 1px solid green;
    border-right: 2px solid green;
    border-left: 2px solid green;
	cursor: pointer;
}
.delete_data:hover {
	color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    background-color: rgb(218, 255, 218);
    border: 1px solid darkgreen;
    border-right: 2px solid darkgreen;
    border-left: 2px solid darkgreen;
	cursor: pointer;
}
.block_data {
    color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    background-color: lightcoral;
    border: 1px solid red;
    border-right: 4px solid red;
    border-left: 2px solid red;
}
.dataItem {
	color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    /* background-color: ; */
    border: 1px solid rgb(117, 117, 117);
}
.dataItemButton {
	color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    /* background-color: ; */
    border: 1px solid rgb(117, 117, 117);
    cursor: pointer;
}
.dataItemButton:hover {
    font-weight: 610;
    background-color: rgba(52, 45, 45, 0.086);
}
.border {
    border: 2px solid black;
    pointer-events: none;
}

.dataItemSelf {
    color: black;
    display:block;
    text-align: center;
    font-weight: 600;
    background-color: rgb(121, 207, 113);
    border: 1px solid rgb(117, 117, 117);
}