.letter {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 24px;
}

.background {
  background-color: var(--color-darkslategray-100);
  border-right: 0.5px solid var(--color-gray-100);
  border-left: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 24px;
}
.backgroundLight {
  background-color: #f6f5f4;
  color: rgb(66, 66, 66);
  border-right: 0.5px solid var(--color-gray-100);
  border-left: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 24px;
}